 {% block font %}
{% include 'partials/homefont.html' %}
{% endblock %}


  <div id="cover">
  <div class="jumbotron jumbotron-fluid">
        <video autoplay muted loop poster src="https://thumbs.gfycat.com/JealousTediousIslandcanary-mobile.mp4">
    <source src="https://thumbs.gfycat.com/JealousTediousIslandcanary-mobile.mp4" data-src="https://thumbs.gfycat.com/JealousTediousIslandcanary-mobile.mp4" type="video/mp4">
    <source src="" data-src="https://ak1.picdn.net/shutterstock/videos/1020853201/preview/stock-footage-timelapse-books-disappear-from-bookshelves-vintage-style.webm" type="video/webm">
    <source src="" data-src="https://ak7.picdn.net/shutterstock/videos/1037924447/preview/stock-footage-asian-children-study-and-writing-the-classroom-at-school-together-concept-of-education.webm" type="video/ogg">
</video>


  <div class="container text-white">

    <h1 class="display-4 text-center">Welcome To A Broader Sense</h1>
    <p class="lead display-5 my-5">"The test of our progress is not whether we add to the abundance of those who have much; it is whether we provide for those who have too little" </p>
    <hr class="my-4">
    <p class="display-5"> Franklin D. Roosevelt</p>
      <h6 class="title display-2 text-center" style="font-weight:100;"> <img src="" style="width:0px; height: 40vh;">   </h6>
      <div class="lead string-1 text-center">Changing the way the world looks at teaching, one student at at time </div>
      <div class="lead string-1 text-center">Join the revolution today     <a href="{% url 'register' %}"><button class="btn btn-outline-dark">Register Now!</button></a> </div>

    </div>
  </div>
</div>

