<nav class="mobile-bottom-nav" xmlns:https="http://www.w3.org/1999/xhtml">

     <input type="button" class="btn btn-lg btn-secondary text white  my-btnleft my-btn btn " onclick="location.href={% url 'patients' %};" value="Patient" />


<div >
    <input type="button" class="my-btn-center btn-outline-dark btn-circle btn-xl child  bg" style="background-image: url("assessment/flowchart.png")" onclick="location.href={% url 'navigation' %};" value=" "/>

</div>


<input type="button" class="btn btn-lg btn-secondary lead text white  my-btnright  btn " onclick="location.href={% url 'information' %};" value="Information" />


    </nav>