<nav class="navbar navbar-expand-sm navbar-transparent bg-transparent">
    {% if request.user.is_doctor == True %}
        <a href="{% url 'index' %}" class="navbar-brand"><strong>CovidMX</strong> <small>Teacher</small></a>
        {% elif request.user.is_student == True %}
         <a href="{% url 'index' %}" class="navbar-brand"><strong>Abroadersense</strong> <small>Student</small></a>
        {% else %}
        <a href="{% url 'index' %}" class="navbar-brand"><strong>Covid-MX</strong></a>
    {% endif %}

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class=" glyphicon glyphicon-menu-hamburger" style="margin-left: 90px;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                    </div>
                </li>
            </div>
            <div class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="nav-item nav-link">{{ user.get_username }}</a>
                <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="{% url 'home' %}" class="nav-item nav-link">Admin Section</a>
              {% endif %}
            </div>
  </div>

</nav>
{##}
{# {% if request.user.is_teacher == True %}#}
{#                        <a class="dropdown-item" href="{% url 'teacher_profile' %}">My Profile</a>#}
{#                        {% elif request.user.is_student == True %}#}
{#                        <a class="dropdown-item" href="{% url 'student_profile' %}">My Profile</a>#}
{#                        {% endif %}#}